.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    z-index: 3;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    align-items: center;
    &__link {
        &:hover {
            svg path{
                fill: $main-color;
            }
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000000;
    }
    &__text {

        writing-mode: vertical-lr;
        transform: rotate(180deg);

}

}